/* Workflow 
    Layout
        Sections, grid, flex
    Structure
        align, spacing, responsiveness
    Details
        fonts, margins
        color, borders, shadow, hover transitions */
/* Base styles */
    *, *::before, *::after {
        box-sizing: border-box;
    }
    * {
        margin: 0;
    }
    html {
        font-size: 100%;
    }
    body {
        line-height: 1.5rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    }
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }
    input, button, textarea, select {
        font: inherit;
    }
    ul[role="list"], ol[role="list"] {
        list-style: none;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
/* colors */
    /* :root {
        --bg-color: #2F1847;
        --bg-color: #624763;
        --item-color: var(--bg-color);
        --accent-color: #C62E65;
        } */
    .default-theme {
        --bg-color: hsl(222, 47%, 11%);
        /* --bg-color: hsl(222, 47%, 11%); */
        /* --item-color: hsl(222, 47%, 21%); */
        --item-color: hsl(222, 47%, 21%);
        --accent-color: hsl(171, 77%, 64%);
        --body-text: hsl(215, 20%, 65%);
        --main-text: hsl(214, 32%, 91%);
    }
    .purple {
        --bg-color: hsl(269, 49%, 19%);
        /* --bg-color: #624763; */
        --item-color: hsl(269, 49%, 24%);
        --accent-color: hsl(338, 62%, 48%);
        --body-text: hsl(0, 0%, 100%);
        --main-text: hsl(0, 0%, 100%);
    }
    .vibrant-spring {
        --bg-color: hsl(190, 75%, 20%);
        --item-color: hsl(168, 76%, 37%);
        /* --item-color: hsl(190, 87%, 35%); */
        --accent-color: hsl(85, 80%, 52%);
        --body-text: white;
        --main-text: white;
    }
    .fresh-green {
        --bg-color: #f2e8cf;
        /* --bg-color: #a7c957; */
        --item-color: var(--bg-color);
        --accent-color: #bc4749;
        --body-text: #386641;
        --main-text: #386641;
    }
    .harmony {
        --bg-color: #e8eddf;
        /* --bg-color: #cfdbd5; */
        --item-color: var(--bg-color);
        --accent-color: #E6AD0F;
        --body-text: #333533;
        --main-text: #333533;
    }
    .vintage-charm {
        --bg-color: #183a37;
        /* --bg-color: #432534; */
        --item-color: var(--bg-color);
        --accent-color: #c44900;
        --body-text: #efd6ac;
        --main-text: #efd6ac;
    }
    .figma {
        --bg-color: hsl(220, 43%, 11%);
        /* --bg-color: hsl(0, 0%, 0%); */
        --item-color: var(--bg-color);
        --accent-color: hsl(272, 100%, 74%);
        --body-text: hsl(218, 12%, 64%);
        --main-text: hsl(218, 12%, 64%);
    }
/* left-right */
    body {
        background-color: var(--bg-color);
        color: var(--body-text);
    }
    .page {
        margin-inline: auto;
        padding-inline: 3rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
    }
    .left {
        position: sticky;
        top: 0px;
        width: 30%;
        height: 100vh;
        padding-top: 3rem;
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: end;
    }
    .right {
        width: 55%;
        padding-top: 3rem;
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
@media (width < 860px) {
    .page {
        flex-direction: column;
        justify-content: normal;
    }
    .left {
        position: static;
        width: 100%;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }
    .right {
        width: 100%;
    }
    .container {
        margin: auto;
    }
}
/* global */
    .hl { /*highlight*/
        color: var(--main-text);
    }
/* left */
    .left img {
        max-width: 140px;
        border-radius: 999px;
    }
    .left h1 {
        margin-block: 2rem 1rem;
    }
    .left h3 {
        margin-bottom: 2rem;
        color: var(--accent-color);
    }
    .left p {
        max-width: 16rem;
        margin-bottom: 2rem;
    }
/* section */
    section {
        width: 100%;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-title {
        align-self: start;
        margin-bottom: 1.5rem;
    }
    .body-text {
        margin-bottom: .5rem;
        line-height: 1.2rem;
    }
    b {
        color: var(--main-text);
    }
/* card */
    .card {
        width: 100%;
        margin-bottom: 1rem;
        padding-bottom: 2rem;
        border: 2px solid var(--bg-color);
        border-radius: 2rem;
        overflow: hidden;      
        background-color: var(--item-color);
        &:hover {
            border: 2px solid var(--accent-color);
        }
    }
    .card-img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
    .card-title {
        margin: 2rem 2rem 1rem;
    }
    .card-subtitle {
        margin: 1rem 2rem .25rem;
    }
    .card-text {
        margin: 0rem 2rem;
    }
    .card-link {
        width: 10rem;
        height: 2.5rem;
        margin: 1rem auto 0rem;
        padding: .5rem 1rem;
        border-radius: 999px;

        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: var(--item-color);
        background-color: var(--accent-color);

        transition: all 200ms ease;
    }
    .card-link:hover {
        /* border: 2px solid var(--item-color); */
        transform: scale(0.95);
    }
    .card-link:active {
        border: 2px solid var(--accent-color);
        color: var(--accent-color);
        background-color: var(--item-color);
    }
/* Theme selector */
    /* #theme {
        align-items: end;
    } */
    select {
        /* appearance: none; */
        padding: .5rem 1rem;
    }