/* Workflow 
    Layout
        Sections, grid, flex
    Structure
        align, spacing, responsiveness
    Details
        fonts, margins
        color, borders, shadow, hover transitions */
/* Base styles */
    *, *::before, *::after {
        box-sizing: border-box;
    }
    * {
        margin: 0;
    }
    html {
        font-size: 100%;
    }
    body {
        line-height: 1.5rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    }
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }
    input, button, textarea, select {
        font: inherit;
    }
    ul[role="list"], ol[role="list"] {
        list-style: none;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
/* colors */
    /* :root {
        --left-bg: #2F1847;
        --rigth-bg: #624763;
        --item-color: var(--left-bg);
        --accent-color: #C62E65;
        } */
    .default-theme {
        --left-bg: hsl(222, 47%, 11%);
        --right-bg: hsl(222, 47%, 11%);
        --item-color: hsl(0, 0%, 10%);
        --accent-color: hsl(240, 100%, 50%);
        --body-text: hsl(0, 0%, 50%);
        --main-text: hsl(0, 0%, 100%);
    }
    .purple {
        --left-bg: #2F1847;
        --rigth-bg: #624763;
        --item-color: var(--left-bg);
        --accent-color: #C62E65;
        --body-text: white;
        --main-text: white;
    }
    .vibrant-spring {
        --left-bg: #086375;
        --rigth-bg: #1dd3b0;
        --item-color: var(--left-bg);
        --accent-color: #affc41;
        --body-text: white;
        --main-text: white;
    }
    .fresh-green {
        --left-bg: #f2e8cf;
        --rigth-bg: #a7c957;
        --item-color: var(--left-bg);
        --accent-color: #bc4749;
        --body-text: #386641;
        --main-text: #386641;
    }
    .harmony {
        --left-bg: #e8eddf;
        --rigth-bg: #cfdbd5;
        --item-color: var(--left-bg);
        --accent-color: #E6AD0F;
        --body-text: #333533;
        --main-text: #333533;
    }
    .vintage-charm {
        --left-bg: #183a37;
        --rigth-bg: #432534;
        --item-color: var(--left-bg);
        --accent-color: #c44900;
        --body-text: #efd6ac;
        --main-text: #efd6ac;
    }
    .figma {
        --left-bg: hsl(220, 43%, 11%);
        --rigth-bg: hsl(0, 0%, 0%);
        --item-color: var(--left-bg);
        --accent-color: hsl(272, 100%, 74%);
        --body-text: hsl(218, 12%, 64%);
        --main-text: hsl(218, 12%, 64%);
    }
/* left-right */
    body {
        background-color: var(--left-bg);
        color: var(--body-text);
    }
    .page {
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        width: 100vw;
        max-width: 1200px;
    }
    .left {
        position: sticky;
        top: 0px;
        max-height: 100vh;
        width: 40%;
        padding: 3rem;
        background-color: var(--left-bg);
    }
    .right {
        width: 60%;
        padding: 3rem;
        background-color: var(--right-bg);
    }
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left .container {
        align-items: start;
        text-align: start;
    }
@media (width < 860px) {
    body {
        display: block;
    }
    .left {
        height: auto;
        overflow: default;
    }
    .right {
        height: auto;
        overflow: default;
    }
    .container {
        margin: auto;
    }
}
/* global */
    .hl { /*highlight*/
        color: var(--main-text);
    }
/* left */
    .left img {
        max-width: 140px;
        margin-left: 2rem;
        border-radius: 999px;
    }
    .left h1 {
        margin-block: 2rem 1rem;
    }
    .left h3 {
        margin-bottom: 2rem;
        color: var(--accent-color);
    }
    .left p {
        max-width: 16rem;
    }
/* section */
    section {
        width: 100%;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-title {
        align-self: start;
        margin-bottom: 1.5rem;
    }
/* card */
    .card {
        width: 100%;
        margin-bottom: 1rem;
        padding-bottom: 2rem;
        border: 2px solid var(--right-bg);
        border-radius: 2rem;
        overflow: hidden;      
        background-color: var(--item-color);
        &:hover {
            border: 2px solid var(--accent-color);
        }
    }
    .card-img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
    .card-title {
        margin: 2rem 2rem 1rem;
    }
    .card-subtitle {
        margin: 1rem 2rem .25rem;
    }
    .card-text {
        margin: 0rem 2rem;
    }
    .card-link {
        width: 10rem;
        height: 2.5rem;
        margin: 1rem auto 0rem;
        padding: .5rem 1rem;
        border-radius: 999px;

        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: var(--item-color);
        background-color: var(--accent-color);

        transition: all 200ms ease;
    }
    .card-link:hover {
        /* border: 2px solid var(--item-color); */
        transform: scale(0.95);
    }
    .card-link:active {
        border: 2px solid var(--accent-color);
        color: var(--accent-color);
        background-color: var(--item-color);
    }
/* Theme selector */
    #theme {
        align-items: end;
    }
    select {
        appearance: none;
        padding: .5rem 1rem;
    }